{% extends "loginbase.html.twig" %}
{% block title %} A-CRM | Création de compte{% endblock %}
{% block body %}

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Creation de compte</h1>
                        </div>
                        <form class="user">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                           placeholder="Prénom">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" id="exampleLastName"
                                           placeholder="Nom">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                       placeholder="Addresse Email">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user"
                                           id="exampleInputPassword" placeholder="Mot de Passe">
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user"
                                           id="exampleRepeatPassword" placeholder="Confirmation de Mot de Passe">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-secondary btn-user btn-block">
                                S'enregistrer
                            </button>
{#                            <hr>#}
{#                            <a href="index.html" class="btn btn-google btn-user btn-block">#}
{#                                <i class="fab fa-google fa-fw"></i> Register with Google#}
{#                            </a>#}
{#                            <a href="index.html" class="btn btn-facebook btn-user btn-block">#}
{#                                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook#}
{#                            </a>#}
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="">Mot de passe oublié?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="{{ path('login_index') }}">Déjà un utilisateur? Connectez-vous!</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="">Politique de confidentialité!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript%}

{% endblock %}
