{% extends "base.html.twig" %}
{#{% block stylesheets %}#}
{#    #}
{#{% endblock %}#}
{% block title %} A-CRM | Calendrier{% endblock %}
{% block body %}
    <!-- Begin Page Content -->
    <div class="container-fluid " id="calendar">



{#        add event buttom#}



    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
{% endblock %}

{% block javascript%}
<script src="{{ asset('assets/fullcalendar/fullcalendar.js') }}"></script>
{% endblock %}
